doctype html
html
  head
    title 内推网女神陪你敲代码
    meta(name="keywords",cotent="内推网,招聘,女神陪你敲代码,女神给你烘培曲曲饼干,女神给你翻,前端工程师,C++,Java,Javascript招聘,")
    meta(name='description',content='想和女神一起敲代码吗？想赢取ipad mini吗？那么赶快加入我们吧！女神诞生日，活动日期10月11日至10月23日。')
    //-meta(name='robots',content='index')	
    meta(name='revisit-after',content='7 days')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content